fastapi
uvicorn[standard]
httpx
python-multipart
sqlalchemy
psycopg2-binary
python-dotenv
redis
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
pyjwt
email-validator
boto3
pillow-heif
google-auth
requests
